<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Data Table</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
  </head>

  <body ng-app="starterApp" layout="row" ng-controller="PageController as ul">

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
      <h1>Examples</h1>
    </md-toolbar>

    <md-list>
      <md-list-item ng-repeat="it in ul.pages">
          <md-button ng-click="ul.selectPage(it)" ng-class="{'selected' : it === ul.selected }">
            {{it.name}}
          </md-button>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" class="md-whiteframe-z1">
      <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>Angular Data Table</h1>
      <div class="github-button">
        <iframe src="https://ghbtns.com/github-btn.html?user=swimlane&repo=angular-data-table&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

      </div>
    </md-toolbar>

    <md-content flex id="content">
        <h2>{{ul.selected.name}}</h2>
        <p>{{ul.selected.content}}</p>

        <codepen codepen-id="ul.selected.codepen"/>
    </md-content>

  </div>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

    <script src="./src/pages/Pages.js"></script>
    <script src="./src/components/codepen/CodepenDirective.js"></script>
    <script src="./src/pages/PageController.js"></script>
    <script src="./src/pages/PageService.js"></script>

    <script type="text/javascript">
        angular.module('starterApp', ['ngMaterial', 'pages'])
          .config(function($mdThemingProvider){
              $mdThemingProvider.theme('default')
                  .primaryPalette('indigo')
                  .accentPalette('cyan');
          });
    </script>

  </body>
</html>
