.dt.material{
  background:#FFF;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);

  .dt-header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    .dt-header-cell{
      background:#FFF;
      text-align: left;
      padding: .5rem 1.2rem;
      font-weight: 400;
      color: #757575;
      vertical-align: bottom;
    }
  }

  .dt-header,
  .dt-body{
    .dt-row-left{
      background:#eee;
      
      .dt-header-cell{
        background:#eee;
      }
    }
  }

  .dt-body{
    .dt-row{
      .dt-cell{
        text-align: left;
        padding: .5rem 1.2rem;
        vertical-align: top;
        border-top: 0;

        -webkit-transition: width 0.3s ease;
        -o-transition: width 0.3s ease;
        transition: width 0.3s ease;

        &.highlight{
          background-color:#eee;
        }
      }

      &.hover{
        background-color: #b3e5fc;
      }

      &.selected,
      &.selected.hover{
        background-color:#304FFE;
        color:#FFF;
      }
    }
  }
}
