.dt-menu {
  text-align: left;
}
.dt-menu ul,
.dt-menu li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.dt-menu .dropdown-menu {
  width: 200px;
  display: none;
}
.dt-menu .dropdown-menu.ddm-open {
  display: inline-block;
}
.dt-menu ul {
  max-height: 300px;
  overflow-y: auto;
}
.dt-popover {
  position: absolute;
  background: #fff;
  color: #999;
  z-index: 5000;
  opacity: 0;
  display: block;
  max-width: 250px;
  max-height: 300px;
  overflow-y: auto;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.dt-popover.popover-text {
  padding: 10px;
  color: #000;
  font-weight: 600;
  font-size: 12px;
}
.dt-popover.popover-right {
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10, 0, 0);
}
.dt-popover.popover-left {
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
}
.dt-popover.popover-top {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}
.dt-popover.popover-bottom {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}
.dt-popover.popover-animation {
  opacity: 1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.dt-popover h1,
.dt-popover h2,
.dt-popover h3,
.dt-popover h4,
.dt-popover h5,
.dt-popover h6 {
  color: #272e33 !important;
}
.dt-popover .popover-caret {
  position: absolute;
  z-index: 5001;
  min-width: 6px;
  height: 11px;
}
.dt-popover .popover-caret.caret-left {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.dt-popover .popover-caret.caret-top {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.dt-popover .popover-caret.caret-bottom {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.dt-popover header {
  padding: 15px 20px;
}
.dt-popover header h1 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.dt-popover header a,
.dt-popover header a:hover,
.dt-popover header a:focus {
  color: #5ea1df;
}
.dt-popover p {
  color: #999 !important;
}
.dt-popover .list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.dt-popover .list .main-text {
  display: block;
  color: #73777b;
}
.dt-popover .list .sub-text {
  color: #afafaf;
  font-size: 12px;
}
.dt-popover .list li {
  border-top: 1px solid #f1f1f1;
  margin: 0;
  background: #fff;
}
.dt-popover .list li .list-link {
  padding: 10px 20px;
  display: block;
  cursor: pointer;
}
.dt-popover .list li:hover {
  background: #eff5fc;
}
.dt-popover .list .inactive,
.dt-popover .list .inactive:hover {
  padding: 10px 20px;
  background: none;
}
.dt {
  visibility: hidden;
  overflow: hidden;
  justify-content: center;
  position: relative;
}
.dt.dt-loaded {
  visibility: visible !important;
}
.dt *,
.dt *:before,
.dt *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.dt .dt-clone {
  opacity: .4;
}
.dt .dt-clone .dt-resize-handle {
  visibility: hidden;
}
.dt .dt-cell,
.dt .dt-header-cell {
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.625;
  text-overflow: ellipsis;
  touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.dt .dt-row,
.dt .dt-header-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-flow: row;
  -moz-flex-flow: row;
  -ms-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
}
.dt .dt-row-left,
.dt .dt-row-right {
  z-index: 9;
}
.dt .dt-row-left,
.dt .dt-row-center,
.dt .dt-row-right {
  position: relative;
}
.dt .dt-header {
  overflow: hidden;
}
.dt .dt-header .dt-header-inner {
  white-space: nowrap;
  align-items: stretch;
  -webkit-align-items: stretch;
}
.dt .dt-header .dt-header-cell {
  position: relative;
  white-space: nowrap;
  display: inline-block;
}
.dt .dt-header .dt-header-cell.dt-drag-over {
  background: #EEE;
}
.dt .dt-header .dt-header-cell.sortable .dt-header-cell-label {
  cursor: pointer;
}
.dt .dt-header .dt-header-cell .sort-btn {
  visibility: hidden;
  display: inline-block;
}
.dt .dt-header .dt-header-cell .sort-btn.sort-desc,
.dt .dt-header .dt-header-cell .sort-btn.sort-asc {
  visibility: visible;
}
.dt .dt-header .dt-header-cell .dt-resize-handle {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  padding: 0 5px;
  visibility: hidden;
  cursor: ew-resize;
}
.dt .dt-header .dt-header-cell.resizable:hover .dt-resize-handle {
  visibility: visible;
}
.dt .dt-header .dt-header-cell:last-child .dt-resize-handle {
  visibility: hidden !important;
}
.dt .dt-body {
  overflow: auto;
  position: relative;
  z-index: 10;
}
.dt .dt-body .dt-body-scroller {
  white-space: nowrap;
}
.dt .dt-body .dt-group-row {
  outline: none;
}
.dt .dt-body .dt-row {
  backface-visibility: hidden;
  outline: none;
  white-space: nowrap;
}
.dt .dt-body .dt-row > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.dt .dt-body .dt-tree-toggle {
  cursor: pointer;
}
.dt .dt-footer .page-count {
  display: inline-block;
}
.dt .dt-footer .dt-pager {
  display: inline-block;
  float: right;
}
.dt .dt-footer .dt-pager .pager,
.dt .dt-footer .dt-pager .pager li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.dt .dt-footer .dt-pager .pager li,
.dt .dt-footer .dt-pager .pager li a {
  display: inline-block;
  outline: none;
}
.dt.fixed .dt-body .dt-row,
.dt.fixed .dt-body .dt-group-row {
  position: absolute;
}
