.dt.material {
  background: #FFF;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.dt.material.selectable:not(.checkboxable) .dt-body .dt-row:focus,
.dt.material.selectable:not(.checkboxable) .dt-body .dt-row:focus .dt-row-block {
  background-color: #EEE;
}
.dt.material.selectable:not(.checkboxable) .dt-body .dt-row.selected,
.dt.material.selectable:not(.checkboxable) .dt-body .dt-row.selected:hover,
.dt.material.selectable:not(.checkboxable) .dt-body .dt-row.selected:focus,
.dt.material.selectable:not(.checkboxable) .dt-body .dt-row.selected .dt-row-block,
.dt.material.selectable:not(.checkboxable) .dt-body .dt-row.selected:hover .dt-row-block {
  background-color: #304FFE;
  color: #FFF;
}
.dt.material .dt-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.dt.material .dt-header .dt-header-cell {
  text-align: left;
  padding: .5rem 1.2rem;
  font-weight: 400;
  color: #757575;
  vertical-align: bottom;
}
.dt.material .dt-header .dt-resize-handle {
  border-right: solid 1px #eee;
}
.dt.material .dt-header .dt-row-left,
.dt.material .dt-body .dt-row-left {
  background-color: #FFF;
  background-position: 100% 0;
  background-repeat: repeat-y;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQIHWPSkNeSBmJhTQVtbiDNCgASagIIuJX8OgAAAABJRU5ErkJggg==);
}
.dt.material .dt-header .dt-row-right,
.dt.material .dt-body .dt-row-right {
  background-position: 0 0;
  background-color: #fff;
  background-repeat: repeat-y;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQI12PQkNdi1VTQ5gbSwkAsDQARLAIGtOSFUAAAAABJRU5ErkJggg==);
}
.dt.material .dt-body .dt-row .dt-cell {
  text-align: left;
  padding: .5rem 1.2rem;
  vertical-align: top;
  border-top: 0;
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.dt.material .dt-body .dt-row:hover,
.dt.material .dt-body .dt-row:hover .dt-row-block {
  background-color: #eee;
  transition-property: background;
  transition-duration: .3s;
  transition-timing-function: linear;
}
.dt.material .dt-body .dt-row:hover input[type='checkbox']:after {
  background-color: #b3e5fc;
}
.dt.material .dt-body .dt-group-row {
  text-align: left;
  padding: .5rem 1.2rem;
  vertical-align: top;
  border-top: 0;
  background: #B6B6B6;
}
.dt.material .dt-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 16px;
}
.dt.material .dt-footer .page-count {
  line-height: 50px;
  height: 50px;
  padding: 0 1.2rem;
}
.dt.material .dt-footer .pager {
  margin: 5px 10px;
}
.dt.material .dt-footer .pager a {
  height: 24px;
  min-width: 24px;
  line-height: 26px;
  padding: 0 6px;
  border-radius: 3px;
  margin: 6px 3px;
  text-align: center;
  vertical-align: top;
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
}
.dt.material .dt-footer .pager a:hover {
  color: rgba(0, 0, 0, 0.75);
  background-color: rgba(158, 158, 158, 0.2);
}
.dt.material .dt-footer .pager .icon-left,
.dt.material .dt-footer .pager .icon-skip,
.dt.material .dt-footer .pager .icon-right,
.dt.material .dt-footer .pager .icon-prev {
  font-size: 20px;
  line-height: 32px;
  padding: 0 3px;
}
.dt.material .dt-footer .pager .disabled a {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.26) !important;
  background-color: transparent !important;
}
.dt.material .dt-footer .pager .active a {
  background-color: rgba(158, 158, 158, 0.2);
  font-weight: bold;
}
.dt.material .empty-row {
  height: 50px;
  text-align: left;
  padding: .5rem 1.2rem;
  vertical-align: top;
  border-top: 0;
}
.dt.material .loading-row {
  text-align: left;
  padding: .5rem 1.2rem;
  vertical-align: top;
  border-top: 0;
}
.dt-menu {
  position: relative;
  display: inline-block;
  font-size: 14px;
}
.dt-menu .dropdown-toggle {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.26);
  z-index: 2;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 2px;
  background-color: transparent;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.dt-menu .dropdown-menu {
  position: absolute;
  right: 0;
  background: #FFF;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
}
.dt-menu .dropdown-menu input[type='text'] {
  padding: 10px 15px;
  display: block;
  width: 100%;
  font-size: 16px;
  outline: none;
  border: none;
  border-bottom: 1px solid #eee;
}
.dt-checkbox {
  position: relative;
  margin: .5rem;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
}
.dt-checkbox input[type='checkbox'] {
  position: relative;
  margin: 0 1rem 0 0;
  cursor: pointer;
  outline: none;
}
.dt-checkbox input[type='checkbox']:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #f2f2f2;
}
.dt-checkbox input[type='checkbox']:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}
.dt-checkbox input[type='checkbox']:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/**
 * PROGRESS BAR -----
 */
.progress-linear {
  display: block;
  position: relative;
  width: 100%;
  height: 5px;
  padding-top: 0!important;
  margin-bottom: 0!important;
  margin-top: -5px;
}
.progress-linear .container {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 5px;
  -webkit-transform: translate(0, 0) scale(1, 1);
  transform: translate(0, 0) scale(1, 1);
  background-color: #aad1f9;
}
.progress-linear .bar {
  transition: all .2s linear;
  -webkit-animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
  animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: -webkit-transform 0.2s linear;
  transition: transform .2s linear;
  background-color: #106cc8;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
}
@-webkit-keyframes query {
  0% {
    opacity: 1;
    -webkit-transform: translateX(35%) scale(0.3, 1);
    transform: translateX(35%) scale(0.3, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50%) scale(0, 1);
    transform: translateX(-50%) scale(0, 1);
  }
}
@keyframes query {
  0% {
    opacity: 1;
    -webkit-transform: translateX(35%) scale(0.3, 1);
    transform: translateX(35%) scale(0.3, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50%) scale(0, 1);
    transform: translateX(-50%) scale(0, 1);
  }
}
