.dt{

  //width: 100% ;
  justify-content: center;
  position: relative;

  // transform: translate3d(0px, 28px, 0px);

  .dt-cell,
  .dt-header-cell{
    display: inline-block;
    vertical-align: top;
    overflow: hidden;

    white-space: normal;
    line-height: 1.625;

    //white-space: nowrap;
    //text-overflow: ellipsis;
  }

	.dt-header{
    .dt-header-cell{
      touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;

      cursor: pointer;
    }
	}

	.dt-body{
    //position:absolute;
    overflow:auto;

    .dt-row{
      backface-visibility: hidden;
      //position: absolute;
      //top: 0;

      .dt-cell{
      }
    }
	}

	.dt-footer{

	}

}
