.dt{

  //width: 100% ;
  justify-content: center;
  position: relative;

  // transform: translate3d(0px, 28px, 0px);

  .dt-cell,
  .dt-header-cell{
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

	.dt-header{
    .dt-header-cell{
      touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;

      cursor: pointer;
    }
	}

	.dt-body{
    .dt-row{
      .dt-cell{
        backface-visibility: hidden;
      }
    }
	}

	.dt-footer{

	}

}
