.dt{

  visibility: hidden;
  overflow:hidden;

  &.dt-loaded{
    visibility: visible !important;
  }

  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  justify-content: center;
  position: relative;

  .dt-clone{
    opacity: .4;

    .dt-resize-handle{
      visibility: hidden;
    }
  }

  .dt-cell,
  .dt-header-cell{
    vertical-align: top;
    overflow: hidden;

    //white-space: normal;
    white-space: nowrap;
    line-height: 1.625;
    text-overflow: ellipsis;

    touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .dt-row,
  .dt-header-inner{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: row;
    -webkit-flex-flow: row;
    -moz-flex-flow: row;
    -ms-flex-flow: row;
    -o-flex-flow: row;
    flex-flow: row;
    flex-flow: row;
  }

  .dt-row-left,
  .dt-row-right{
    z-index: 9;
  }

  .dt-row-left,
  .dt-row-center,
  .dt-row-right{
    position:relative;
  }

	.dt-header{
    overflow:hidden;

    .dt-header-inner{
      white-space: nowrap;
      align-items: stretch;
      -webkit-align-items: stretch;
    }

    .dt-header-cell{
      position:relative;
      white-space: nowrap;
      display:inline-block;

      &.dt-drag-over{
        background:#EEE;
      }

      &.sortable{
        .dt-header-cell-label{
          cursor: pointer;
        }
      }

      .sort-btn{
        visibility: hidden;
        display: inline-block;

        &.sort-desc,
        &.sort-asc{
          visibility: visible;
        }
      }

      .dt-resize-handle{
        display: inline-block;
        position: absolute;
        right:0;
        top:0;
        bottom: 0;
        width:5px;
        padding:0 5px;
        visibility: hidden;
        cursor: ew-resize;
      }

      &.resizable:hover {
        .dt-resize-handle{
          visibility: visible;
        }
      }

      &:last-child {
        .dt-resize-handle{
          visibility: hidden !important;
        }
      }
    }
	}

	.dt-body{
    overflow:auto;
    position:relative;
    z-index:10;

    .dt-body-scroller{
      white-space: nowrap;
    }

    .dt-group-row{
      outline:none;
    }

    .dt-row{
      backface-visibility: hidden;
      outline:none;
      white-space: nowrap;

      > div {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
      }
    }

    .dt-tree-toggle{
      cursor:pointer;
    }
	}

	.dt-footer{
    .page-count{
      display:inline-block;
    }

    .dt-pager{
      display: inline-block;
      float:right;

      .pager,
      .pager li {
        padding:0;
        margin:0;
        list-style:none;
      }

      .pager{
        li,
        li a{
          display:inline-block;
          outline:none;
        }
      }
    }
	}

  &.fixed {
    .dt-body .dt-row,
    .dt-body .dt-group-row{
      position: absolute;
    }
  }
}

