.dt{
  justify-content: center;
  position: relative;

  .dt-cell,
  .dt-header-cell{
    display: inline-block;
    vertical-align: top;
    overflow: hidden;

    white-space: normal;
    line-height: 1.625;
  }

	.dt-header{

    .dt-header-cell{
      white-space: nowrap;
      //text-overflow: ellipsis;

      touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;

      cursor: pointer;

      .sort-btn{
        visibility: hidden;
        display: inline-block;

        &.sort-desc,
        &.sort-asc{
          visibility: visible;
        }
      }
    }
	}

	.dt-body{
    overflow:auto;

    .dt-row{
      backface-visibility: hidden;

      .dt-cell{
      }
    }
	}

	.dt-footer{

	}

}
