.dt-menu{
  text-align:left;
  
  ul, li{
    padding:0;
    margin:0;
    list-style:none;
  }

  .dropdown-menu{
    width:200px;
    display: none;

    &.ddm-open{
      display: inline-block;
    }
  }
  
  ul{
    max-height: 300px;
    overflow-y: auto;
  }
}
